{% extends 'base.html.twig' %}

{% block title %}Sprint Retrospective{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
        body {
            font-family: 'Raleway', sans-serif;
            padding: 50px 10px;
        }
        [v-cloak] {
            display: none;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    <div class="container" id="app" v-cloak>
        <div class="columns">
            <div class="column" v-for="category in categories">
                <h1 class="title is-4" v-text="category.title"></h1>
                <div class="card" v-for="card in filteredCards(category.name)">
                    <div class="card-content" v-if="card.isEditing === true">
                        <textarea class="textarea" v-model="card.content" maxlength="255"></textarea>
                        <div class="has-text-right">
                            <a href="#" v-on:click.prevent="saveCard(card)">Save</a>&nbsp;
                            <a href="#" v-on:click.prevent="cancelEditing(card)">Cancel</a>
                        </div>
                    </div>
                    <div class="card-content" v-else>
                        {% verbatim %}{{ card.content }}{% endverbatim %}
                        <div class="has-text-right">
                            <a href="#" v-on:click.prevent="editCard(card)">Edit</a>&nbsp;
                            <a href="#" v-on:click.prevent="deleteCard(card)">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content" v-if="category.isAdding">
                        <textarea class="textarea" v-model="category.newContent" maxlength="255"></textarea>
                        <div class="has-text-right">
                            <a href="#" v-on:click.prevent="saveNewCard(category)">Save</a>&nbsp;
                            <a href="#" v-on:click.prevent="cancelAddCard(category)">Cancel</a>
                        </div>
                    </div>
                    <div class="card-content has-text-right" v-else>
                        <a href="#" v-on:click.prevent="addCard(category)">Add a new card</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/app.js"></script>
{% endblock javascripts %}
